@use "../../base";

$menuWidth: 200px;
$menuHeight: 40px;

.menus{
    width: $menuWidth;

    .menu{
        width: $menuWidth;
        height: $menuHeight;
        border-bottom: base.$borderBottomDotted;
        
        color: #333;
        font-size: 14px;
        line-height: $menuHeight;
        text-align: center;
        
        cursor: pointer;
        user-select: none;

        @include base.alink($color: #333);
    }
    .menu:hover{
        font-size: 16px;
    }
    .menu.main{
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-bottom: base.$borderBottom;
    }
}