@use "../../../base";

a.q-link:link {
    color: #333;
    text-decoration: none;
}
a.q-link:visited {
    color: #333;
    text-decoration: none;
}
a.q-link:hover {
    color: #333;
    text-decoration: none;
}
a.q-link:active {
    color: #333;
    text-decoration: none;
}