@use "../../../base";

$inputWidth: 500px;
$btnWidth: 200px;
$paddingWidth: 20px;
$height: 60px;

.search-box{
    @include base.width();
    @include base.marginAuto();

    height: $height;

    .input{
        float: left;
        width: $inputWidth;
        height: calc($height - 2px);
        padding-left: $paddingWidth;
        padding-right: $paddingWidth;
        border-left: base.$borderSolid;
        border-top: base.$borderSolid;
        border-bottom: base.$borderSolid;

        input{
            width: $inputWidth;
            height: calc($height - 2px);
            line-height: calc($height - 2px);;
            margin: 0;
            padding: 0;
            border: none;

            @include base.font($size: 24px);
        }
        input:focus{
            outline: none;
        }
    }
    .button{
        float: left;
        width: $btnWidth;
        height: calc($height - 2px);
        line-height: calc($height - 2px);;
        border: base.$borderSolid;
        background-color: #fff;

        @include base.font($size: 24px, $align: center);
        @include base.cursor();
    }
    .button:hover{
        font-size: 26px;
    }
}