.checkbox-list{
    width: 743px;
    height: 60px;
    margin: 0 auto;
    padding-top: 20px;

    .item{
        float: left;
        height: 20px;
        padding-right: 10px;
        color: #333;
        font-size: 16px;
        line-height: 20px;

        input{
            display: block;
            float: left;
            padding: 0;
            margin: 5px;
        }
    }
}
