@use "../../../util/base";

$selectHeight: 50px;

.select {
    @include base.width();

    height: $selectHeight;
    line-height: $selectHeight;

    margin-bottom: 10px;
    padding: 0 10px;
    outline: none;

    border-bottom: base.$borderSolid;

    @include base.font($size: 18px);
}