@use "../../../util/base";

$itemTitleHeight: 1.5rem;
$itemDescHeight: 1rem;
$itemOtherHeight: 1rem;

$fontWeight: 600;

.info {
  width: calc(100% - 20px);
  padding: 10px;

  border-bottom: base.$borderDotted;

  .item-title {
    @include base.width();

    line-height: $itemTitleHeight;
    font-weight: $fontWeight;

    @include base.font($size: 16px);
    @include base.alink();
  }
  .item-desc {
    @include base.width();

    line-height: $itemDescHeight;

    @include base.font($size: 12px, $color: #888);
  }
  .item-other {
    @include base.width();

    height: $itemOtherHeight;
    line-height: $itemOtherHeight;

    @include base.font($size: 12px);
    @include base.alink();
  }
}
