@use "../../base";

$footerHeight: 80px;

.footer {
  width: base.$all;
  height: $footerHeight;
  color: #333;
  font-size: 14px;
  text-align: center;
  line-height: $footerHeight;

  @include base.alink($color: #333);
}
