@use "../../../util/base";

$titleHeight: 100px;
$contentHeight: 40px;

.article-container {
  @include base.width();

  .article-title {
    @include base.width();

    height: $titleHeight;
    line-height: $titleHeight;
    border-bottom: base.$borderDotted;

    @include base.font($size: 28px, $align: center);
    font-weight: 600;
  }

  .article-date {
    @include base.width();
    height: $contentHeight;
    line-height: $contentHeight;

    @include base.font();
  }

  .article-times {
    @include base.width();

    height: $contentHeight;
    line-height: $contentHeight;
    border-bottom: base.$borderDotted;

    @include base.font();
  }

  .article-content {
    @include base.width();
    padding-bottom: $contentHeight;
    border-bottom: base.$borderDotted;

    img {
      max-width: 100%;
    }
  }
}
