@use "../base";

$marginHeight: 200px;
$boxHeight: 170px;

$inputHeight: 50px;

.box{
  width: base.$containerWidth;
  height: $boxHeight;
  margin-top: $marginHeight;

  .input{
    width: base.$containerWidth;
    height: $inputHeight;
    border-bottom: base.$borderBottom;

    input{
      width: base.$containerWidth - 20px;
      height: base.$all;
      margin: 0;
      padding: 0;
      padding: 0 10px;
      border: none;
      color: #333;
      font-size: 18px;
      line-height: $inputHeight;
      outline: none;
    }
  }
  .btn{
    width: base.$containerWidth;
    height: $inputHeight;
    margin-top: 20px;

    .ctx{
      width: 100px;
      height: $inputHeight;
      margin: 0 auto;
      color: #333;
      font-size: 18px;
      line-height: $inputHeight;
      text-align: center;
      border: base.$borderBottom;
      cursor: pointer;
      user-select: none;
    }
    .ctx:hover {
      font-size: 20px;
    }
  }
}