@use "../../../util/base";

$containerWidth: 1400px;

$contentHeight: 600px;
$txtWidth: 600px;
$txtTop: 150px;
$txtleft: 100px;
$txtContainerWidth: $txtWidth - $txtleft;
$txtContainerHeight: $contentHeight - $txtTop;
$txtMainHeight: 50px;
$txtOtherHeight: 80px;

$picWidth: $containerWidth - $txtWidth;

.content {
  @include base.width();

  height: $contentHeight;
  border-bottom: base.$borderSolid;

  .txt {
    float: left;
    width: $txtContainerWidth;
    height: $txtContainerHeight;
    padding-top: $txtTop;
    padding-left: $txtleft;

    .txt-main {
      width: $txtContainerWidth;
      height: $txtMainHeight;
      line-height: $txtMainHeight;

      @include base.font($size: 32px);
    }

    .txt-other {
      width: $txtContainerWidth;
      height: $txtOtherHeight;
      line-height: $txtOtherHeight;

      @include base.font($size: 16px);
    }
  }

  .pic {
    float: left;
    width: $picWidth;
    height: $contentHeight;
    background-color: rgb(235, 235, 235);
  }
}
