@use "../../../util/base";

$inputHeight: 50px;

.btn {
  @include base.width();

  height: $inputHeight + 2px;
  padding-top: 20px;

  .ctx {
    width: 100px;
    height: $inputHeight;
    line-height: $inputHeight;
    border: base.$borderSolid;

    @include base.marginAuto();
    @include base.font($size: 18px, $align: center);
    @include base.cursor();
  }
}
