@use "../../../base";

$modalWidth : 800px;
$modalMinHeight : 100px;
$modalMaxHeight : 900px;

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(51,51,51,0.3);

    @include base.width();

    .modal{
        position: relative;
        width: $modalWidth;
        min-height: $modalMinHeight;
        max-height: $modalMaxHeight;
        overflow: auto;

        @include base.marginAuto();

        margin-top: 100px;
        padding: 40px;
        border-radius: 8px;
        background-color: #fff;
    }

    .modal-close{
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;

        @include base.font($size: 24px, $align: center);
        @include base.cursor();
    }
}
.modal-container.hide{
    display: none;
}