$pageWidth: 1400px;
$pageHeight: 900px - 28px;

#root {
  width: $pageWidth;
  height: $pageHeight;
  background-color: #1c2432;

  .index-container {
    width: $pageWidth;
    height: $pageHeight;
  }
}
