@use "../../../util/base";

.article-container{
    @include base.width();

    .article-title{
        @include base.width();

        height: 80px;
        line-height: 80px;
        border-bottom: base.$borderDotted;

        @include base.font($size: 24px);
    }
    
    .article-date{
        @include base.width();
        height: 40px;
        line-height: 40px;
        
        @include base.font();
    }

    .article-times{
        @include base.width();

        height: 40px;
        line-height: 40px;
        border-bottom: base.$borderDotted;

        @include base.font();
    }

    .article-content{
        @include base.width();
        padding-bottom: 40px;
        border-bottom: base.$borderDotted;

        img{
            max-width: 100%;
        }
    }
}