@use '../../../util/base';

$inputHeight: 50px;

.tips {
  @include base.width();

  height: $inputHeight;
  line-height: $inputHeight;
  padding-top: 20px;

  @include base.font($size: 16px, $align: center, $color: red);
}
