@use "../../../util/base";

$toolbarHeight: 30px;

.toolbar{
    width: calc(100% - 200px);
    height: $toolbarHeight;
    margin: 0 100px;
    margin-top: 20px;

    div{
        float: left;
        width: 100px;
        height: $toolbarHeight;
        line-height: $toolbarHeight;

        @include base.cursor();
    }
}