@use "../../base";

$containerWidth: 1400px;

$headerHeight: 60px;
$logoWidth: 200px;
$navsWidth: $containerWidth - $logoWidth;

.nav-txt {
    height: $headerHeight;
    line-height: $headerHeight;

    @include base.font($size: 16px, $align: center);
    @include base.cursor();
}

.nav-txt:hover {
    font-size: 18px;
}

.header {
    @include base.width();

    height: $headerHeight;
    border-bottom: base.$borderSolid;

    .logo {
        float: left;
        width: $logoWidth;
    }

    .navs {
        float: left;
        width: $navsWidth;
        height: $headerHeight;

        .nav {
            float: right;
            width: 100px;

            @include base.alink();
        }
    }
}