@use "../../util/base";

$containerWidth: 16rem;

$headerHeight: 2rem;
$logoWidth: 6rem;
$navsWidth: $containerWidth - $logoWidth;

.header {
    @include base.width();

    height: $headerHeight;
    border-bottom: base.$borderSolid;

    .logo {
        float: left;
        width: $logoWidth;
    }

    .navs {
        float: left;
        width: $navsWidth;
        height: $headerHeight;

        .nav {
            float: right;
            width: calc($navsWidth / 3);
        }
    }
}

.nav-txt {
    height: $headerHeight;
    line-height: $headerHeight;

    @include base.font($size: 16px);
    @include base.cursor();
    @include base.alink();
}

.nav-txt.right {
    text-align: right;
}

.header.center{
    .nav-txt {
        text-align: center;
    }

    .nav-txt.right {
        text-align: center;
    }
}