@use "../../util/base";

$containerWidth: 16rem;

$cardHeight: 6rem;
$titleHeight: 2rem;
$titlePaddingTop: 1rem;
$descHeight: 3rem;

.cards {
    width: $containerWidth;

    .card {
        @include base.width();

        height: $cardHeight;
        border-bottom: base.$borderDotted;

        .title {
            @include base.width();

            height: $titleHeight;
            line-height: $titleHeight;
            padding-top: $titlePaddingTop;

            @include base.font($size: 18px, $align: center);
        }

        .desc {
            @include base.width();

            height: $descHeight;
            line-height: $descHeight;

            @include base.font($size: 14px, $align: center);
        }
    }
}