@use "../../../util/base";

$height: 2rem;
$divWidth: 2.5rem;

.breadcrumbs {
  @include base.width();
  @include base.marginAuto();

  height: $height;
  border-bottom: base.$borderDotted;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .breadcrumb {
    display: inline-block;
    height: $height;

    div {
      float: left;
      width: $divWidth;
      height: $height;
      line-height: $height;

      @include base.font($size: 14px, $align: center);
    }

    .item {
      @include base.cursor();
    }
    .item.active {
      font-size: 16px;
    }
  }
}
