@use "../../../base";

$height : 20px;
$paddingTop : 20px;

.checkbox-list{
    @include base.width();
    @include base.marginAuto();

    height: $height;
    padding-top: $paddingTop;

    .item{
        float: left;
        height: $height;
        line-height: $height;
        padding-right: 10px;

        @include base.font($size: 16px);

        input{
            display: block;
            float: left;
            padding: 0;
            margin: 5px;
        }
    }
}
