@use "../../../util/base";

$footerHeight: 2rem;

.footer {
  @include base.width();

  height: $footerHeight;
  line-height: $footerHeight;

  @include base.font($align: center);
  @include base.alink();
}
