@use "../base";

$containerWidth: 1400px;

$headerHeight: 60px;
$logoWidth: 200px;
$navsWidth: $containerWidth - $logoWidth;

.nav-txt {
  height: $headerHeight;
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: $headerHeight;
  user-select: none;
  cursor: pointer;
}
.nav-txt:hover {
  font-size: 18px;
}

.header {
  width: base.$all;
  height: $headerHeight;
  border-bottom: base.$borderBottom;

  .logo {
    float: left;
    width: $logoWidth;
  }

  .navs {
    float: left;
    width: $navsWidth;
    height: $headerHeight;

    .nav {
      float: right;
      width: 100px;

      @include base.alink($color: #333);
    }
  }
}
