.logo {
    float: left;
    width: 120px;
    height: 63px;
    margin: 0 24px 0 0;
    background: #fff;

    img {
        display: block;
        width: 63px;
        height: 63px;
        margin: 0 auto;
    }
}

.site-layout .site-layout-background {
    background: #fff;
}