@use "../../../util/base";

$height: 30px;
$divWidth: 80px;

.breadcrumbs{
    @include base.width();
    @include base.marginAuto();

    height: $height;
    padding: 20px 0;
    border-bottom: base.$borderDotted;

    .breadcrumb{
        float: left;
        height: $height;

        div{
            float: left;
            width: $divWidth;
            height: $height;
            line-height: $height;

            @include base.font($size: 16px, $align: center);
        }

        .item{
            text-align: left;
            @include base.cursor();
        }
        .item.active{
            font-size: 20px;
        }
    }
}