@use "../index";

$footerHeight: 2rem;

.footer {
  width: index.$all;
  height: $footerHeight;
  color: #333;
  font-size: 14px;
  text-align: center;
  line-height: $footerHeight;

  @include index.alink($color: #333);
}
