@use "../../base";

$tableWidth: 1100px;
$tdHeight: 40px;
$tdPadding: 5px;

.table-container {
    width: $tableWidth;

    @include base.marginAuto();
    margin-top: 20px;

    table {
        @include base.width();
        border-collapse: collapse;
    }

    th {
        height: $tdHeight;
        line-height: $tdHeight;

        padding: $tdPadding;
        border: base.$borderSolid;

        @include base.font($size: 16px, $align: center);
    }

    td {
        height: $tdHeight;
        line-height: $tdHeight;

        padding: $tdPadding;
        border: base.$borderSolid;

        @include base.font($size: 14px, $align: center);

        max-width: 100px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }

    td.op>div {
        float: left;
        width: 50%;
        height: $tdHeight;
        line-height: $tdHeight;

        @include base.font($size: 14px, $align: center);
        @include base.cursor();
    }
}