@use "../../base";

$tableWidth: 1100px;
$tdHeight: 40px;
$tdPadding: 5px;

.table-container{
    width: $tableWidth;

    @include base.marginAuto();
    margin-top: 20px;

    table{
        @include base.width();
        border-collapse:collapse;
    }
    
    th{
        height: $tdHeight;
        padding: $tdPadding;
        border: base.$borderSolid;
    }

    td{
        height: $tdHeight;
        padding: $tdPadding;
        border: base.$borderSolid;
        text-align: center;
    }
}
