@use "../../../base";

$containerWidth: 1400px;

$cardHeight: 300px;
$cardPadding: 40px;

$titleHeight: 80px;
$descHeight: 20px;

.cards {
  width: $containerWidth;
  height: $cardHeight;
  padding-top: $cardPadding;
  padding-bottom: $cardPadding;
  border-bottom: base.$borderSolid;

  .card {
    float: left;
    width: calc($containerWidth / 3);
    height: calc($cardHeight / 2);

    .title {
      @include base.width();

      height: $titleHeight;
      line-height: $titleHeight;

      @include base.font($size: 18px, $align: center);
    }
    .desc {
      @include base.width();

      height: $descHeight;
      line-height: $descHeight;

      @include base.font($align: center);
    }
  }
}
