@use "../base";

$contentHeight: 600px;
$txtWidth: 600px;
$txtTop: 150px;
$txtleft: 100px;
$txtContainerWidth: $txtWidth - $txtleft;
$txtContainerHeight: $contentHeight - $txtTop;
$txtMainHeight: 50px;
$txtOtherHeight: 80px;

$picWidth: base.$containerWidth - $txtWidth;

.content {
  width: base.$all;
  height: $contentHeight;
  border-bottom: base.$borderBottom;

  .txt {
    float: left;
    width: $txtContainerWidth;
    height: $txtContainerHeight;
    padding-top: $txtTop;
    padding-left: $txtleft;

    .txt-main {
      width: $txtContainerWidth;
      height: $txtMainHeight;
      color: #333;
      font-size: 32px;
      line-height: $txtMainHeight;
    }
    .txt-other {
      width: $txtContainerWidth;
      height: $txtOtherHeight;
      color: #333;
      font-size: 16px;
      line-height: $txtOtherHeight;
    }
  }
  .pic {
    float: left;
    width: $picWidth;
    height: $contentHeight;
    background-color: rgb(235, 235, 235);
  }
}
