@use '../../../util/base';

$titleHeight: 1.5rem;
$contentHeight: 1rem;

.article-container {
  width: calc(100% - 20px);
  padding: 0 10px;

  .article-title {
    @include base.width();

    min-height: $titleHeight;
    line-height: $titleHeight;
    border-bottom: base.$borderDotted;

    @include base.font($size: 24px, $align: center);
    font-weight: 600;
  }

  .article-date {
    @include base.width();
    height: $contentHeight;
    line-height: $contentHeight;

    @include base.font($size: 12px);
  }

  .article-times {
    @include base.width();

    height: $contentHeight;
    line-height: $contentHeight;
    border-bottom: base.$borderDotted;

    @include base.font($size: 12px);
  }

  .article-content {
    @include base.width();
    padding-bottom: $contentHeight;
    border-bottom: base.$borderDotted;

    @include base.font();

    img {
      max-width: 100%;
    }
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
