$borderSolid: solid 1px #333;
$borderDotted: dotted 1px #333;

// width
// @include base.width();
@mixin width() {
    width: 100%;
}

// margin auto
@mixin marginAuto() {
    margin: 0 auto;
}

// font
@mixin font($size: 14px, $align: left, $color: #333) {
    color: $color;
    font-size: $size;
    text-align: $align;
}

// cursor
@mixin cursor() {
    user-select: none;
    cursor: pointer;
}

// alink
@mixin alink($color: #333) {
    a:link {
        color: $color;
        text-decoration: none;
    }

    a:visited {
        color: $color;
        text-decoration: none;
    }

    a:hover {
        color: $color;
        text-decoration: none;
    }

    a:active {
        color: $color;
        text-decoration: none;
    }
}